### set

In [38]:
#1

# 1-usul
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
set3 = set1 | set2
print(set3)



# 2-usul

set3 = set1.union(set2)
set1

{1, 2, 3, 4, 5, 6, 7, 8}

{1, 2, 3, 4, 5}

In [39]:
# 2

set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

print(set1.intersection(set2))
print(set1 & set2)

{4, 5}
{4, 5}

In [40]:
# 3

set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
print(set1-set2)
print(set1.difference(set2))

{1, 2, 3}
{1, 2, 3}

In [41]:
# 4

set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

print(set1.issubset(set2))
print(set1 <= set2)

False
False

In [42]:
# 5

5 in set2

True

In [43]:
# 6

len(set1)

5

In [44]:
# 7
list1 = [1,2,3,4,5,6]
set(list1)

{1, 2, 3, 4, 5, 6}

In [45]:
# 8

set1 = {1, 2, 3, 4, 5, 6}
print(set1.pop())
print(set1)
print(set1.remove(2))
print(set1)
print(set1.discard(3))
print(set1)

1
{2, 3, 4, 5, 6}
None
{3, 4, 5, 6}
None
{4, 5, 6}

In [46]:
# 9

set1 = {1, 2, 3, 4, 5, 6}

set2 = set1.copy()
set2.clear()
set2

set()

In [47]:
# 10

set1 = {1,2,3,4,5}
not bool(set1)

False

In [48]:
# 11

set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

set3 = set1.symmetric_difference(set2)
print(set3)
set3 = set1^set2
print(set3)

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [49]:
# 12

set1 = {1,2,3,4,5}
set1.add(10)
set1

{1, 2, 3, 4, 5, 10}

In [50]:
# 13

set1 = {1,2,3,4,5}
returnedElement = set1.pop()
returnedElement

1

In [51]:
# 14

set1 = {1,2,3,4,5}
max(set1)

5

In [52]:
# 15

set1 = {1,2,3,4,5}
min(set1)

1

In [53]:
# 16

set1 = {1,2,3,4,5}

setWithEvenss =  set(i for i in set1 if i % 2 == 0)
setWithEvenss

{2, 4}

In [54]:
# 17

set1 = {1,2,3,4,5}

setWithOdds =  set(i for i in set1 if i % 2 == 1)
setWithOdds

{1, 3, 5}

In [55]:
# 18

set(range(1,11))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [56]:
# 19

list1 = [1,2,3,4,5]
list2 = [4,5,6,7,8]
setofthem = set(list1+list2)
setofthem

{1, 2, 3, 4, 5, 6, 7, 8}

In [57]:

# 20
set1 = {4,5}
set2 = {4,5,6,7,8}

set2.isdisjoint(set1)

False

In [59]:
# 21

list1 = [1,2,3,3,4,4,5,6]
listnew = list(set(list1))
listnew

[1, 2, 3, 4, 5, 6]

In [60]:
# 22
list1 = [1,2,3,3,4,4,5,6]

len(set(list1))

6

In [67]:
newset = set(range(1,20))
newset

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}