### tuple

In [1]:
#1

numbers = (1,2,3,4,5,6,7,8,1,2,3,4,5,6)

numbers.count(1)

2

In [3]:
# 2

numbers = (1,2,3,4,5,6,7,8,1,2,3,4,5,6)
max(numbers)

8

In [4]:
# 3
numbers = (1,2,3,4,5,6,7,8,1,2,3,4,5,6)
min(numbers)

1

In [5]:
# 4
element = 5
numbers = (1,2,3,4,5,6,7,8,1,2,3,4,5,6)
element in numbers

True

In [7]:
# 5
numbers = (1,2,3,4,5,6,7,8,1,2,3,4,5,6)

print(numbers[0] if bool(numbers) else "tuple empty")

tuple empty

In [8]:
# 6
numbers = (1,2,3,4,5,6,7,8,1,2,3,4,5,6)

print(numbers[-1] if bool(numbers) else "tuple empty")

6

In [9]:
# 7
numbers = (1,2,3,4,5,6,7,8,1,2,3,4,5,6)
len(numbers)

14

In [11]:
# 8
numbers = (1,2,3,4,5,6,7,8,1,2,3,4,5,6)
new_tuple = numbers[:3]
new_tuple

(1, 2, 3)

In [13]:
# 9
tuple1 = (1,2,3,4)
tuple2 = (5,6,7,8)
tuple3 = tuple1+tuple2
tuple3

(1, 2, 3, 4, 5, 6, 7, 8)

In [15]:
# 10

new = ()

not bool(new)

True

In [20]:
# 11

numbers = (1,2,3,4,5,6,7,8,1,2,3,4,5,6)
number = 2

indexes = [i for i, j in enumerate(numbers) if j==number]
indexes

[1, 9]

In [24]:
# 12
numbers = (1,2,3,4,5,6,7,8,1,2,3,4,5,6)

sorted(tuple(dict.fromkeys(numbers)))[-2]

7

In [26]:
# 13

numbers = (1,2,3,4,5,6,7,8,1,2,3,4,5,6)
# 1-usul
sorted(tuple(dict.fromkeys(numbers)))[1]
# 2-usul
sorted(dict.fromkeys(numbers).keys())[1]

2

In [28]:
# 14

a=(1,)
a

(1,)

In [32]:
# 15

numbers = (1,2,3,4,5,6,7,8,1,2,3,4,5,6)

numbers_list = list(numbers)
numbers_list

[1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6]

In [34]:
# 16
numbers = (1,2,3,4,5,6,7,8,1,2,3,4,5,6)

numbers == sorted(numbers)

False

In [35]:
# 17

numbers = (1,2,3,4,5,6,7,8,1,2,3,4,5,6)
sIndex = 1
fIndex = 5
max(numbers[sIndex:fIndex])

5

In [36]:
# 18

min(numbers[sIndex:fIndex])

2

In [38]:
# 19

numbers = (1,2,3,4,5,6,7,8,1,2,3,4,5,6)
ele2remove = 2
new = list(numbers)
new.remove(ele2remove)
newTuple = tuple(new)
newTuple

(1, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6)

In [55]:
# 20

numbers = (1,2,3,4,5,6,7,8,1,2,3,4,5,6)
length = 3

tuple(numbers[i:i+length] for i in range(0,len(numbers),3))

((1, 2, 3), (4, 5, 6), (7, 8, 1), (2, 3, 4), (5, 6))

In [59]:
# 21

numbers = (1,2,3)
occ = 3

new_tuple = tuple(i for i in numbers for _ in range(occ))
new_tuple

(1, 1, 1, 2, 2, 2, 3, 3, 3)

In [61]:
# 22
minval = 1
maxval = 10

tuple(range(minval, maxval+1))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [63]:
# 23

numbers = (1,2,3,4,5,6,7,8,1,2,3,4,5,6)
numbers[::-1]

(6, 5, 4, 3, 2, 1, 8, 7, 6, 5, 4, 3, 2, 1)

In [64]:
numbers = (1,2,3,4,5,6,7,8,1,2,3,4,5,6)
numbers ==numbers[::-1]

False

In [65]:
numbers = (1,2,3,4,5,6,7,8,1,2,3,4,5,6)
tuple(dict.fromkeys(numbers))

(1, 2, 3, 4, 5, 6, 7, 8)