In [1]:
import sqlite3

# Create a new SQLite database (roster.db) and connect to it
with sqlite3.connect("roster.db") as con:
    cur = con.cursor()

    # Create the Roster table
    cur.execute("""
        CREATE TABLE IF NOT EXISTS Roster (
            Name TEXT,
            Species TEXT,
            Age INTEGER
        )
    """)

    # Insert the provided data
    cur.executemany("""
        INSERT INTO Roster (Name, Species, Age)
        VALUES (?, ?, ?)
    """, [
        ("Benjamin Sisko", "Human", 40),
        ("Jadzia Dax", "Trill", 300),
        ("Kira Nerys", "Bajoran", 29)
    ])

    # Commit the changes
    con.commit()
    print("Database created and data inserted.")

Database created and data inserted.

In [2]:
with sqlite3.connect("roster.db") as con:
    cur = con.cursor()

    # Update the Name of Jadzia Dax to Ezri Dax
    cur.execute("""
        UPDATE Roster
        SET Name = 'Ezri Dax'
        WHERE Name = 'Jadzia Dax'
    """)

    # Commit the changes
    con.commit()
    print("Name updated successfully.")

Name updated successfully.

In [3]:
with sqlite3.connect("roster.db") as con:
    cur = con.cursor()

    # Retrieve and display Name and Age of all characters where the Species is Bajoran
    cur.execute("""
        SELECT Name, Age
        FROM Roster
        WHERE Species = 'Bajoran'
    """)

    rows = cur.fetchall()
    for row in rows:
        print(row)

('Kira Nerys', 29)

In [4]:
with sqlite3.connect("roster.db") as con:
    cur = con.cursor()

    # Remove all characters aged over 100 years
    cur.execute("""
        DELETE FROM Roster
        WHERE Age > 100
    """)

    # Commit the changes
    con.commit()
    print("Characters aged over 100 have been removed.")

Characters aged over 100 have been removed.

In [5]:
with sqlite3.connect("roster.db") as con:
    cur = con.cursor()

    # Add the new column 'Rank'
    cur.execute("ALTER TABLE Roster ADD COLUMN Rank TEXT")

    # Update the Rank for each character
    rank_data = {
        "Benjamin Sisko": "Captain",
        "Ezri Dax": "Lieutenant",
        "Kira Nerys": "Major"
    }

    for name, rank in rank_data.items():
        cur.execute("""
            UPDATE Roster
            SET Rank = ?
            WHERE Name = ?
        """, (rank, name))

    # Commit the changes
    con.commit()
    print("Rank column added and data updated.")

Rank column added and data updated.

In [6]:
with sqlite3.connect("roster.db") as con:
    cur = con.cursor()

    # Retrieve all characters sorted by Age in descending order
    cur.execute("""
        SELECT Name, Age
        FROM Roster
        ORDER BY Age DESC
    """)

    rows = cur.fetchall()
    for row in rows:
        print(row)

('Benjamin Sisko', 40)
('Kira Nerys', 29)