In [6]:
import sqlite3

# Create a new SQLite database (roster.db) and connect to it
with sqlite3.connect("library.db") as con:
    cur = con.cursor()

    # Create the Books table
    cur.execute("""
        CREATE TABLE IF NOT EXISTS Books (
        Title TEXT,
        Author TEXT,
        Year_Published INTEGER,
        Genre TEXT
        )
    """)

    # Insert the provided data
    cur.executemany("""
        INSERT INTO Books (Title, Author, Year_Published, Genre)
        VALUES (?, ?, ?, ?)
    """, [("To Kill a Mockingbird", "Harper Lee", 1960, "Fiction"),
        ("1984", "George Orwell", 1949, "Dystopian"),
        ("The Great Gatsby", "F. Scott Fitzgerald",	1925, "Classic")]
    )
    con.commit()
    print("Database created and data inserted.")

Database created and data inserted.

In [8]:
with sqlite3.connect("library.db") as con:
    cur = con.cursor()

    # Update date
    cur.execute("""
        UPDATE Books 
        SET Year_Published = 1950
        WHERE Year_Published = 1984
    """)

    # Commit the changes
    con.commit()
    print("Year_Published updated successfully.")

Year_Published updated successfully.

In [9]:
with sqlite3.connect("library.db") as con:
    cur = con.cursor()

    # Retrieve and display the Title and Author of all books where the Genre is Dystopian
    cur.execute("""
        SELECT Title, Author
        FROM Books
        WHERE Genre = 'Dystopian'
    """)

    rows = cur.fetchall()
    for row in rows:
        print(row)

('1984', 'George Orwell')
('1984', 'George Orwell')

In [10]:
with sqlite3.connect("library.db") as con:
    cur = con.cursor()

    # Remove all books published before the year 1950 from the table
    cur.execute("""
        DELETE FROM Books
        WHERE Year_Published < 1950
    """)

    # Commit the changes
    con.commit()
    print("Deleted successfully.")

Deleted successfully.

In [13]:
with sqlite3.connect("library.db") as con:
    cur = con.cursor()

    # Add a new column called Rating to the Books table and update the data
    cur.execute("ALTER TABLE Books ADD COLUMN Rating TEXT")

    # Update table
    rating_data = {
        "To Kill a Mockingbird" : "4.8",
        "1984": "4.7",
        "The Great Gatsby": "4.5"
    }

    for title, rating in rating_data.items():
        cur.execute("""
            UPDATE Books
            SET Rating = ?
            WHERE Title = ?
        """, (rating, title)
        )

    # Commit the changes
    con.commit()
    print("Updated successfully.")

Updated successfully.

In [14]:
with sqlite3.connect("library.db") as con:
    cur = con.cursor()

    # Retrieve all books sorted by their Year_Published in ascending order

    cur.execute("""
        SELECT * FROM Books
        ORDER BY Year_Published asc
    """)

    data = cur.fetchall()
    for dat in data:
        print(dat)

('To Kill a Mockingbird', 'Harper Lee', 1960, 'Fiction', '4.8')
('To Kill a Mockingbird', 'Harper Lee', 1960, 'Fiction', '4.8')